<div align="center">
  <div  class="frame1">

    <button class="profile-pic-round" (click)="updateImage()">
      <img
        width="200"
        [src]="imageUrl"
      >
    </button>


    <h2 style="margin-bottom: 20px">Chandrashekar Ollala</h2>


    <mat-list align="center" style=" width: 100%">

      <mat-list-item style="padding-left: 0px">
        <mat-icon mat-list-icon style=" padding-left: 0px">email</mat-icon>
        <div>
          <mat-label style="width: 40%; text-align: left; padding-left: 10px">Email</mat-label>

          <mat-label style="width: 60%; text-align: right; padding-left: 10px">ffffff</mat-label>
          <mat-divider></mat-divider>
        </div>

      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>

  </div>
</div>

